services:
  app:
    container_name: folio-app
    image: ghcr.io/59n/modern-folio:latest
    # user: root # Removed as requested
    restart: always
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=file:/app/data/dev.db
      - AUTH_SECRET=your_super_secret_auth_secret_change_me_in_prod
      - NEXTAUTH_URL=http://localhost:3000
      - AUTH_TRUST_HOST=true
    volumes:
      - ./prisma:/app/data
      - ./public/uploads:/app/public/uploads
